<body>
    <!-- Page Header Start -->
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Admin</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Admin</p>
            </div>
        </div>
    </div>
    <!-- Page Header End -->

    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/product">Manage Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/product/add">Add Book</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/category/add">Add category</a>
        </li>
            <li class="nav-item">
            <a class="nav-link" href="/category">Manage category</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/order/orderList">View orders</a>
        </li>
    </ul>

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>