<h1>List Orders</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone</th>
            <th>Item</th>

            <th>Detail</th>


        </tr>
    </thead>
    <tbody>
        {{#each orders}}
        <tr>
            <td>{{name}}</td>
            <td>{{phone}}</td>
            <td>{{status}}</td>

            <td><a href="order/detail?id={{_id}}">Detail</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>