<style>
    .box {
        position: relative;
        background: #ffffff;
        border: solid 2px silver;
        box-sizing: border-box;
        padding-left: 200px;
        padding-right: 200px;
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        width: 60%;
        height: 500px;
        margin: 50px auto 0 300px;

    }

    #mess {
        position: relative;
        margin: 0 auto;
    }

    .content{
        height: 600px;
    }
</style>

<div class="content">
    <div class="box">
        <div id="mess">
            <h5>{{message}}</h5>
            <h5 style="color: #c82333">{{error}}</h5>
        </div>
        <div class="box-header">

            <centre>

                <h1 class="mt-5"> Login </h1>

                <p class="lead"> Already have our account..? </p>

            </centre>

        </div>

        <form method="post" action="/authen/login">

            <div class="form-group">

                <label> Username </label>

                <input name="txtName" type="text" class="form-control">

            </div>

            <div class="form-group">

                <label> Password </label>

                <input name="txtPassword" type="password" class="form-control">

            </div>

            <div class="text-center">

                <button name="login" value="Login" class="btn btn-primary">

                    <i class="fa fa-sign-in"></i> Login

                </button>

            </div>

        </form>

        <centre>

            <a href="/authen/register">

                <h3> Dont have account..? Register here </h3>

            </a>

        </centre>

    </div>
</div>
