<div>

    <form action="/authen/login" method="post">
    <input type="text" placeholder="username" name="txtName">
    <input type="text" placeholder="password" name="txtPassword">
    <button>Login</button>
    </form>
    <hr>
    <a href="/authen/register"><button>Register</button></a>
</div>