<h1>Register</h1>
    <form action="/authen/register" method="post">
        Username:
        <input type="text" name="txtName">
        Password:
        <input type="text" name="txtPassword">
        Role:
        <select name="role" id="">
            <option value="user">User</option>
            <option value="admin">Admin</option>
        </select>
        <button>Submit</button>
    </form>